<h2 class="text-center mt-5">Forgot your password?</h2>
<div class="container justify-content-center" id="container-form">
    <%= form_with url: password_reset_path do |f| %>
        <form>
            <div class="form-floating mb-4 mt-4 text-muted">
                <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
                <%= f.label :email %>
            </div>
            <%= f.submit "Send Email", class: "btn btn-primary" %>
        </form>
    <% end %>
</div>