<div class="margin-top bg-dark-c p-3 rounded justify-content-center">
    <h2 class="text-center mt-2">Forgot your password?</h2>
    <%= form_with url: password_reset_path do |form| %>
        <form>
            <div class="form-floating mb-4 mt-4 text-muted">
                <%= form.text_field :email, class: "form-control", placeholder: "Email" %>
                <%= form.label :email %>
            </div>
            <%= form.submit "Send Email", class: "btn btn-primary mb-2" %>
        </form>
    <% end %>
</div>