<div class="margin-top">
    <div class="bg-dark p-3 rounded">
        <h3>Schedule Passengers</h3>
    </div>
    <% if @bookings.empty? || Booking.where(schedule_id: params[:book_id]).where(status: "Booked").empty? %>
        <div class="bg-dark mt-3 p-3 rounded d-flex align-items-center">
            <div>There are no passengers booked in this schedule.</div>
        </div>
    <% else %>
        <table class="table table-dark text-light mt-4">
            <tr>
                <th style="width: 30%;">Name</th>
                <th style="width: 30%;">Email</th>
                <th style="width: 25%;">Confirmation</th>
                <th style="width: 15%;" class="text-center">Seats Booked</th>
            </tr>
        <% @bookings.each do |data| %>
            <% if data.status == "Booked" %>
            <tr>
                <td><%= data.user.name %></td>
                <td><%= data.user.email %></td>
                <td><%= data.confirmation %></td>
                <td class="text-center"><%= data.seats %></td>
            </tr>
            <% end %>
        <% end %>
        </table>
    <% end %>
</div>