<div class="modal fade" id="modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h4 class="modal-title">Payment Methods</h4>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Two types of payment methods are available: offline and online. After doing either methods, check your account occasionally to see if your booking is approved.
                <hr>
                <h5>Offline Payment</h5>
                Go to one of our stations and pay the required amount to our cashier.
                <hr>
                <h5>Online Payment</h5>
                Lorem <a href="https://duckduckgo.com/" target="_blank">link</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>