<div class="modal fade" id="modal">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h4 class="modal-title">Payment Methods</h4>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Two types of payment methods are available: on-site and bank. After doing either methods, check your account occasionally to see if your booking is approved.
                <hr>
                <h5>On-site Payment</h5>
                Go to one of our stations and pay the required amount to our cashier.
                <hr>
                <h5>Bank Payment</h5>
                Deposit the required amount to the nearest BDO bank or via online banking transaction.<br><br>
                Take note of these details when doing the transaction:<br>
                <ul>
                    <li><i>Account Name:</i> J-STAR</li>
                    <li><i>Account Number:</i> 0916890889762 (Savings Account - BDO Cubao Branch)</li>
                    <li><i>Payor's Name:</i> Name of account that booked the schedule</li>
                    <li><i>Limitations:</i> One payment per transaction. Cash payments (in Philippine Peso) only. No check payments are accepted.</li>
                </ul>
                Always check your email or account for the status of your transaction. If you couldn't find the confirmation in your inbox, check you email's spam/junk folder.<br><br>
                After the transaction, take a clear picture of the deposit slip or a screenshot of the bank transaction confirmation details if the payment was online. The file must be less than 10MB.<br><br>
                Lastly, fill out this form (<a href="https://forms.gle/SLFS4S8q6jbXVYcEA" target="_blank">link</a>) and fill out all the details needed.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>