/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

#main-height {
	height: 100vh;
}
#navcon {
	a {
		&:hover {
			color: #FFF !important;
		}
	}
}
.nav-logged-in {
	padding: 0rem 1rem;
}
#nav-logged-out {
	margin: 0px 5px 0px 5px;
	color: #6C757D;
	text-decoration: none;
}
#close {
	text-decoration: none;
	color: #000;
	opacity: 0.5;
}
#container-signin {
	width: 350px;
	margin-top: 30vh;
}
#container-form {
	width: 350px;
}
#btn-signin {
	width: 80px;
}
.dropdown-menu {
	min-width: 0rem !important;
}
.dropdown-menu[data-bs-popper] {
	margin-top: 0.4rem !important;
	margin-right: 0.5rem;
}
