/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

body {
	background-color: #6C757D !important;
}
a {
	text-decoration: none;
	color: #F8F9FA;
}
a:hover {
	color: rgba(255, 255, 255, 0.7);
}
.top-nav {
	position: fixed;
	z-index: 1;
	width: 100%;
}
.container-fluid {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
#main-height {
	height: 100%;
}
#navcon {
	a {
		&:hover {
			color: #FFF !important;
		}
	}
}
.margin-top {
	margin-top: 80px;
}
#alert {
    position: absolute;
	z-index: 2;
    width: auto;
    top: 5%;
    left: 50%;
    padding: 0.75rem 0.75rem;
    transform: translate(-50%, 0);
}
.nav-link {
	padding: 0rem !important;
	color: #6C757D;
	text-decoration: none;
}
#close {
	text-decoration: none;
	color: #000;
	opacity: 0.5;
}
#container-signin {
	width: 400px;
	margin-top: 30vh;
}
#container-form {
	width: 350px;
}
#btn-signin {
	width: 80px;
}
.dropdown-menu {
	min-width: 0rem !important;
}
.dropdown-menu[data-bs-popper] {
	margin-top: 0rem !important;
	margin-right: 0.5rem;
}
.w-1000 {
	min-width: 1000px;
}
th, td {
	vertical-align: middle;
	padding: 10px !important;
}
.table {
	border: 2px solid #000;
	border-radius: 10px;
}
input[type="number"] {
    outline: none;
    width:  50px;
    border: 2px solid black;
    border-radius: 4px;
    text-align: center;
}
.card-header {
	border-bottom: 1px solid rgb(200, 200, 200) !important;
}
.card-header:hover {
	background-color: #333638 !important;
}
.card-body {
	background-color: #333638 !important;
}
.btn {
	box-shadow: 0 0 0 0 rgb(0, 0, 0)!important;
}
.tab {
	padding: 12px !important;
}
.tab-left {
	border-radius: 5px 0 0 0 !important;
}
.tab-right {
	border-radius: 0 5px 0 0 !important;
}
.nav-tabs {
	border-bottom: 2px solid #F8F9FA;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	background-color: #212529;
	color: #F8F9FA;
	border: 1px solid transparent;
}
.nav-tabs .nav-link {
	background-color: #333638;
	color: rgba(255, 255, 255, 0.5);
}
.nav-link:hover, .nav-link:focus {
    color: #F8F9FA;
}
.nav-tabs .nav-link:hover {
	border-color: rgba(255, 255, 255, 0.7) rgba(255, 255, 255, 0.7) transparent;
}
.btn-close:focus {
	box-shadow: none;
}