<div class="d-flex flex-column m-lg-4 margin-top" id="profile">
    <div id="profile-details">
        <h2>Profile</h2><br>
        <p>Name: <%= Current.user.name %></p>
        <p>Email: <%= Current.user.email %></p>
    </div>
    <div class="d-flex flex-column">
        <%= link_to 'Edit Password', edit_password_path, class: "btn btn-primary", style: "width: 130px;" %>
        <button type="button" class="btn btn-danger mt-2" style="width: 140px;" data-bs-toggle="modal" data-bs-target="#myModal">
            Delete Account
        </button>
    </div>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h3 class="modal-title">Confirmation</h3>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your account? All records associated with your account will be deleted as well.
                </div>
                <div class="modal-footer">
                    <%= link_to 'Confirm', del_acc_path, method: :delete, class: "btn btn-danger" %>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>